In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('Pandas/data/bussiness1.csv')
print(df.columns)

Index(['Year', 'Industry_aggregation_NZSIOC', 'Industry_code_NZSIOC',
       'Industry_name_NZSIOC', 'Units', 'Variable_code', 'Variable_name',
       'Variable_category', 'Value', 'Industry_code_ANZSIC06'],
      dtype='object')

In [7]:
print(df[["Year", "Value", "Units"]])

       Year   Value               Units
0      2023  930995  Dollars (millions)
1      2023  821630  Dollars (millions)
2      2023   84354  Dollars (millions)
3      2023   25010  Dollars (millions)
4      2023  832964  Dollars (millions)
...     ...     ...                 ...
50980  2013      52          Percentage
50981  2013      40          Percentage
50982  2013      12          Percentage
50983  2013       5          Percentage
50984  2013      46          Percentage

[50985 rows x 3 columns]

In [27]:
print(df.dtypes)

Year                            int64
Industry_aggregation_NZSIOC    object
Industry_code_NZSIOC           object
Industry_name_NZSIOC           object
Units                          object
Variable_code                  object
Variable_name                  object
Variable_category              object
Value                          object
Industry_code_ANZSIC06         object
dtype: object

In [33]:
df[(df["Value"] == "50") & (df["Year"] == 2015)]

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
38336,2015,Level 3,CC71,Primary Metal and Metal Product Manufacturing,Dollars (millions),H17,Purchases of goods bought for resale,Financial performance,50,"ANZSIC06 groups C211, C212, C213, and C214"
38372,2015,Level 4,CC711,Primary Metal and Metal Product Manufacturing,Dollars (millions),H17,Purchases of goods bought for resale,Financial performance,50,"ANZSIC06 groups C211, C212, C213, and C214"
39474,2015,Level 3,GH12,"Supermarket, Grocery Stores and Specialised Fo...",Percentage,H37,Quick ratio,Financial ratios,50,ANZSIC06 groups G411 and G412
39798,2015,Level 4,GH212,Food and Beverage Services,Percentage,H37,Quick ratio,Financial ratios,50,"ANZSIC06 groups H451, H452, and H453"
40899,2015,Level 3,MN21,Administrative and Support Services,Dollars (millions),H06,"Government funding, grants and subsidies",Financial performance,50,ANZSIC06 division N
41358,2015,Level 4,QQ112,Medical and Other Health Care Services,Percentage,H39,Return on equity,Financial ratios,50,"ANZSIC06 groups Q851, Q852, Q853, and Q859"

In [ ]:
df.loc[df["Industry_aggregation_NZSIOC"] == "Level 1"] = "Level 2"

In [38]:
df[df["Industry_aggregation_NZSIOC"] == "Level 2"]

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,Level 2,Level 2,Level 2,Level 2,Level 2,Level 2,Level 2,Level 2,Level 2,Level 2
1,Level 2,Level 2,Level 2,Level 2,Level 2,Level 2,Level 2,Level 2,Level 2,Level 2
2,Level 2,Level 2,Level 2,Level 2,Level 2,Level 2,Level 2,Level 2,Level 2,Level 2
3,Level 2,Level 2,Level 2,Level 2,Level 2,Level 2,Level 2,Level 2,Level 2,Level 2
4,Level 2,Level 2,Level 2,Level 2,Level 2,Level 2,Level 2,Level 2,Level 2,Level 2
...,...,...,...,...,...,...,...,...,...,...
50688,Level 2,Level 2,Level 2,Level 2,Level 2,Level 2,Level 2,Level 2,Level 2,Level 2
50689,Level 2,Level 2,Level 2,Level 2,Level 2,Level 2,Level 2,Level 2,Level 2,Level 2
50690,Level 2,Level 2,Level 2,Level 2,Level 2,Level 2,Level 2,Level 2,Level 2,Level 2
50691,Level 2,Level 2,Level 2,Level 2,Level 2,Level 2,Level 2,Level 2,Level 2,Level 2
50692,Level 2,Level 2,Level 2,Level 2,Level 2,Level 2,Level 2,Level 2,Level 2,Level 2

In [42]:
df.rename(columns={"Industry_aggregation_NZSIOC": "NZSIOC"}, inplace=True)

In [44]:
print(df.columns)

Index(['Year', 'NZSIOC', 'Industry_code_NZSIOC', 'Industry_name_NZSIOC',
       'Units', 'Variable_code', 'Variable_name', 'Variable_category', 'Value',
       'Industry_code_ANZSIC06'],
      dtype='object')

In [45]:
df.to_csv("corrected_bussiness1", index=False)